<div class="information">
    
    <div class="back_button">
        <a [routerLink]="['home']"> <img src="assets/svg/arrow-back.svg" alt=""> De vuelta al inicio</a>
    </div>

    <div class="first">
        <h1 >Red Social Básica</h1>
        <h2 >Hecho con Angular, Bootstrap &amp; MongoDB</h2>
        <a href="https://github.com/Seboot2002/basic-social-network" target="_blank">Ver el código en GitHub</a>
        <br>
        <img src="assets/svg/arrow-down.svg" alt="" class="arrow-down">
    </div>

    <div class="second">

        <div class="info">
            <h3>Sección de Login y Registro</h3>
            <p>En primer lugar, tenemos la sección de login y registro en los cuales sí o sí se va a tener que ingresar los datos, ya que las demás paginas estarán bloqueadas si es que se intenta ingresar otra url. Asimismo, cuando se inicie sesión se le dirigirá a la parte de Inicio.</p>
            <br>
            <p>La imagen del usuario podrá ser agregada después en la sección de Datos.</p>
        </div>
        <div class="imagen" >
            <img src="assets/basic-social-network/login.png" alt="">
            <img src="assets/basic-social-network/registro.png" alt="">
        </div>
    </div>

    <div class="third">

        <div class="imagen" >
            <img src="assets/basic-social-network/timeline.png" alt="">
            <img src="assets/basic-social-network/gente.png" alt="">
        </div>
        <div class="info">
            <h3>Timeline y Gente</h3>
            <p>La sección Timeline es el Feed de esta red social y cada vez que algún usuario publica algo aparecerá en la parte de arriba. Asimismo, puedes eliminar las publicaciones que son de tu propiedad; además, podrás ver las imágenes a través de un botón.</p>
            <br>
            <p>En la sección de Gente se encuentran a todos los usuarios de la red social y podrás ingresar a sus perfiles o empezar a seguirlos.</p>
        </div>
    </div>

    <div class="second">

        <div class="info">
            <h3>Inicio y actualización de datos</h3>
            <p>Cuando ingreses tus datos en la parte de Login se te redirige a la sección de Inicio en la cual podrás acceder a todas las demás secciones de la red social.</p>
            <br>
            <p>También, podrás actualizar tus datos de usuario en la sección “Datos” de la página de inicio al darle click al botón en el cual se encuentra tu apodo.</p>
        </div>
        <div class="imagen" >
            <img src="assets/basic-social-network/inicio.png" alt="">
            <img src="assets/basic-social-network/actualizar-datos.png" alt="">
        </div>
    </div>

    <div class="third">

        <div class="imagen" >
            <img src="assets/basic-social-network/perfil.png" alt="">
            <img src="assets/basic-social-network/mensajes.png" alt="">
        </div>
        <div class="info">
            <h3>Perfil y Mensajes</h3>
            <p>En la parte de Perfil podrás ver todos los datos de tu usuario como el nombre, el apodo, cantidad de seguidores, de seguidos y de publicaciones. Además, de poder ver en la parte de abajo todas tus publicaciones hechas anteriormente.</p>
            <br>
            <p>En la sección de Mensajes y en Enviar Mensaje podrás enviar textos a otros usuarios que podrán visualizarlos en la parte de Mensajes recibidos. También, podrás ver tus mensajes anteriores dentro de Mensajes enviados.</p>
        </div>
    </div>

    <div class="footer">
        <p class="">© Copyright {{year}} Hecho con <i class="ti-heart text-danger">Angular</i> por <a [routerLink]="['home']">Sebastián Camayo</a></p>
    </div>
</div>
