* {
    list-style: inside;
}

/*header*/
.header {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    padding: 18% 18%;
    background-color: #160673;
    color: white;
}

.header h1 {
    font-size: 100px;
    padding-bottom: 20px;
    text-align: left;
}

.header h2 {
    padding: 5px 0px;
    text-align: left;
}

.header a {
    color: #ff214f;
    width: 15%;
    cursor: pointer;
}

.header_box {
    position: relative;
}

.wave {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
}

/*experience*/
.experience {
    background-color: #2009a5;
    color: white;
    text-align: center;
    position: relative;
}

.experience_column {
    display: inline-flex;
    align-items: center;
}

.experience h1{
    font-size: 70px;
    padding-top: 120px;
}

.experience h4 {
    padding: 8px 0px;
    border-bottom: 2px solid #495057;
    padding-bottom: 2%;
}
.experience p {
    padding-top: 2%;
}

.experience .info{
    text-align: left;
    padding: 13% 8% 24%;
    color: white;
    font-size: 150%;
    width: 100%;
    max-width: 600px;
}

.experience img {
    border-radius: 100%;
    max-width: 40%;
    margin-bottom: 10%;
}

.experience_box {
    position: relative;
}

/*projects*/
.projects{
    background-color: #160673;
    color: white;
    text-align: center;
}

.projects h1{
    font-size: 70px;
    padding-top: 120px;
}

.projects h4{
    font-size: 30px;
}

.projects p{
    font-size: 120%;
    padding: 5%;
}

.projects_column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.projects_column .box {
    display: inline-flex;
    flex-direction: column;
    padding: 6% 3% 5% 3%;
    margin: 6% 2%;
    background-color: rgba(0, 255, 255, 0);
    border: 1px solid #495057;
    min-width: 5%;
    align-items: center;
    height: 500px;
    justify-content: center;
}

.box {
    flex: 1;
}

.projects_column .box a {
    background-color: #ff214f;
    max-width: 30%;
    padding: 8px 3%;
    margin: 6% 0px 0px 0px;
    text-align: center;
    font-size: 1.25rem;
    color: white;
}

.footer {
    text-align: center;
    color: white;
    background-color: #0e141b;
    border-top: 1px solid #495057;
    padding: 20px 0px;
}

.footer a {
    color: #ff214f;
    cursor: pointer;
}

/*responsive*/
@media (max-width: 600px){

    .header {
        align-items: center;
        padding: 100px;
        text-align: center;
        padding-top: 200px;
    }

    .header h1 {
        font-size: 60px;
        text-align: center;
        padding: 15% 0%;
    }

    .header h2 {
        font-size: 20px;
        text-align: center;
    }

    .header a {
        color: #ff214f;
        width: 60%;
    }

    .experience_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience .info {
        text-align: center;
        font-size: 120%;
        max-width: 100%;
        padding: 20% 0px;
    }

    .experience h1 {
        font-size: 50px;
    }

    .experience h4 {
        margin: 20px 80px;
    }

    .experience p {
        margin: 0px 50px;
    }

    .projects_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects h1 {
        font-size: 50px;
    }

    .projects_column .box {
        display: inline-flex;
        flex-direction: column;
        padding: 34% 10%;
        margin: 9% 20%;
        background-color: rgba(0, 255, 255, 0);
        border: 1px solid #495057;
        min-width: 5%;
        align-items: center;
    }

    .projects_column .box a {
        background-color: #ff214f;
        max-width: 90%;
        padding: 5px 10%;
        margin: 20% 0px 0px;
        text-align: center;
        font-size: 1.25rem;
    }

    .projects_column .box p {
        width: 200px;
        margin: 20% 0px 0px;
    }

    .imagen {
        margin-bottom: 50px;
    }

    .footer {
        padding: 20px 15px;
    }

}


/*Animations*/
.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.in-view {
    transform: none;
    opacity: 1;
}